<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">

        <link rel="stylesheet" href="css/tailwind.min.css">
        <link rel="stylesheet" href="css/app.css">
    </head>
    <body>
        <div class="flex flex-col">
             ADS:   {{ads_star.ads}}
             LINK:  {{ads_star.link}}
        </div>
             
    </body>
</html>